@tailwind base;
@tailwind components;
@tailwind utilities;

/* MYDS CSS */
@import '@govtechmy/myds-style/color.css';
@import '@govtechmy/myds-style/light.css';
@import '@govtechmy/myds-style/dark.css';

@layer base {
  * {
    --_secondary-50: 244 239 255;
    --_secondary-200: 212 192 255;
    --_secondary-300: 183 148 255;
    --_secondary-400: 183 148 255;
    --_secondary-600: 112 47 249;
    --_secondary-700: 91 26 230;
    --_secondary-800: 91 26 230;
    --_secondary-950: 32 22 54;

    --bg-secondary-50: var(--_secondary-50);
    --bg-secondary-100: var(--_secondary-100);
    --bg-secondary-200: var(--_secondary-200);
    --bg-secondary-300: var(--_secondary-300);
    --bg-secondary-400: var(--_secondary-400);
    --bg-secondary-500: var(--_secondary-500);
    --bg-secondary-600: var(--_secondary-600);
    --bg-secondary-700: var(--_secondary-700);
    --bg-secondary-800: var(--_secondary-800);
    --bg-secondary-900: var(--_secondary-900);
    --bg-secondary-950: var(--_secondary-950);
    --bg-secondary-disabled: var(--_secondary-200);

    --txt-secondary: var(--_secondary-600);
    --txt-secondary-disabled: var(--_secondary-600) / 0.4;

    --otl-secondary-200: var(--_secondary-200);
    --otl-secondary-300: var(--_secondary-300);
    --otl-secondary-disabled: var(--_secondary-200) / 0.4;

    --fr-secondary: var(--_secondary-300) / 0.4;
  }

  .dark {
    --bg-secondary-50: var(--_secondary-950);
    --bg-secondary-100: var(--_secondary-900);
    --bg-secondary-200: var(--_secondary-800);
    --bg-secondary-300: var(--_secondary-700);
    --bg-secondary-400: var(--_secondary-600);
    --bg-secondary-500: var(--_secondary-500);
    --bg-secondary-600: var(--_secondary-400);
    --bg-secondary-700: var(--_secondary-300);
    --bg-secondary-800: var(--_secondary-200);
    --bg-secondary-900: var(--_secondary-100);
    --bg-secondary-950: var(--_secondary-50);
    --bg-secondary-disabled: var(--_secondary-950);

    --txt-secondary: var(--_secondary-400);
    --txt-secondary-disabled: var(--_secondary-400) / 0.4;

    --otl-secondary-200: var(--_secondary-800);
    --otl-secondary-300: var(--_secondary-700);
    --otl-secondary-disabled: var(--_secondary-800) / 0.4;

    --fr-secondary: var(--_secondary-700) / 0.4;
  }

  h1:not(.prose > h1) {
    @apply font-heading font-semibold text-heading-sm md:text-heading-md;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  * {
    @apply border-otl-gray-200;
  }
  body {
    @apply bg-bg-white text-txt-black-900 min-h-[100vh] flex flex-col;
  }

  :focus:not(:focus-visible) {
    @apply outline-none;
  }
}
